body {
    padding-top: 5rem;
}

.navbar-fixed-top {
    font-family: 'Mogra', cursive;
}

.tab-pane header {
    font-family: 'Black Ops One';
}

.center-block {
    text-align: center;
}

.content-title {
    margin-bottom: 1rem;
}

.full-vh {
    min-height: 100vh;
}
